body {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

input {
  border: 0px;
  box-shadow: 0 0 2px #999;
  transition: all ease-in-out 0.2s;
  padding: 10px 5px;
}

input:focus {
  box-shadow: 0 0 4px #111;
  outline: none;
}

a {
  text-decoration: none;
}

a,
a:focus,
a:visited {
  color: dodgerblue;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colorcyan {
  color: darkcyan;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs16 {
  font-size: 16px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.width_full {
  width: 100%;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.inline_block {
  display: inline-block;
}

.block {
  display: block;
}

.absolute {
  position: absolute;
}

.borderbox {
  box-sizing: border-box;
}

.bgblack {
  background-color: black;
}

.bgwhite {
  background-color: white;
}

.color_999 {
  color: #999;
}

body.search header {
  height: 125px;
}

body.detail header {
  height: 50px;
}

header {
  background-color: #FFF;
  top: 0;
  line-height: 50px;
  z-index: 1;
  color: #999;
}

header a {
  padding-left: 25px;
  color: #999 !important;
  text-decoration: none;
  font-size: 28px;
}

#content {
  width: 1024px;
  margin: 0 auto;
  min-height: 580px;
  margin-top: 125px;
}

body.detail #content {
  margin-top: 75px;
}

#keyword {
  width: 1024px;
  margin: 25px auto auto auto;
  font-size: 16px;
}

body.detail #keyword {
  display: none;
}

#result li {
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

#result li:hover {
  cursor: pointer;
}

#result li img {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 0 10px 10px 0;
}

#result li >div,
#result >div>div {
  margin-top: 5px;
  margin-bottom: 25px;
}

#result li >div:nth-child(1) {
  font-size: 16px;
}

#result li >div:nth-child(6) {
  font-size: 12px;
}

#result li >div:nth-child(6) a {
  color: crimson;
}
/*
#pagedetails >div {
  margin-bottom: 5px;
}

#pagedetails >div:nth-child(1) {
  font-size: 18px;
}

#pagedetails >div:nth-child(1) {
  font-size: 18px;
}
*/

.post {
  margin: 5px 0;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
}

footer {
  font-size: 10px;
  bottom: 0;
  padding-top: 10px;
}